services:
  metasploit-framework:
    build:
      context: "../"
      dockerfile: ./development-env/metasploit-framework/Dockerfile
    platform: linux/amd64
    environment:
      - BUNDLE_PATH=/bundle/vendor
    volumes:
    - metasploit-framework:/metasploit-framework
    - bundle_path:/bundle
    depends_on:
    - postgres
    command: |
      sh -c "bundle install"
  postgres:
    image: postgres:16
    ports:
      - "127.0.0.1:5433:5432"
    environment:
      - POSTGRES_PASSWORD=mysecretpassword

volumes:
  metasploit-framework:
  bundle_path:
x-mutagen:
  sync:
    defaults:
      probeMode: assume
      ignore:
        vcs: true
      mode: two-way-resolved
      stageMode: neighboring
    metasploit-framework:
      alpha: "../metasploit-framework"
      beta: volume://metasploit-framework